.Prj{
    margin: 4rem 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Prj-container{
  display: flex;
  width: 90%;
  flex-wrap: wrap; 
  align-items: center;
  margin: 2rem;
}
.Prj .Prj-card {
  min-height: 200px;;
  width: 400px;
  margin: 1rem;
  border-radius: 10px;
  position: relative;
}
.Prj .Prj-card:hover {
  background: none;
  transform: translateY(-0);
}

div.card-btn {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.Prj .desc {
  margin-top: -30px;
  margin-bottom: 20px;
  font-size: 17px;
}

.Prj .desc-sml{
    margin-top: 8px;
    font-size: 14px;
}
.Prj .desc-sml span{
    margin-left: 0px;
}
.Prj .desc-sml a{
    color: #1f73f0;
}

.Prj .arrow {
    position: absolute;
    right: 30px;
    top: 11%;
    transform: rotate(-45deg);
    color: #00bfff;
    opacity: 0;
    transition: 0.5s;
}
.Prj .card-title:hover .arrow {
    opacity: 1;
}
.Prj h2 {
    font-size: 20px;
    transition: 0.5s;
    padding-bottom: 30px;
}
.Prj .Prj-card:hover h2 {
    color: #00bfff;
}
.Prj .Prj-card:hover {
    color: black;
}
/*------------popup--------*/
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
}

.overlay {
background-color: #ecf0f3;
}
.modal-content {
    position: absolute;
    top: 12%;
    left: 8%;
    line-height: 1.4;
    background: #f0f3f5;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 85%;
    min-width: 60%;
    z-index: 9999;
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    padding: 50px;
    border-radius: 10px;
}

/* .modal-text {
   padding: 0 50px 0 50px;
} */
.modal-text h1 {
    margin: 20px 0 20px 0;
    font-size: 30px;
}
.modal-text p {
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 25px;
}
.modal-text button {
margin-right: 20px;
color: #00bfff;
}

.modal a{
    color: #1f73f0;
}

.modal-text span {
    font-weight: 700;
}
.modal-text button i {
   margin-left: 10px;
}
.modal-text button.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    padding: 0 0;
    font-size: 20px;
}
.modal-text button.close-modal i {
    margin: 0;
}
/*------------popup--------*/
@media (max-width: 768px) {
.modal,
.overlay {
    overflow: scroll;
}

.modal .modal-img {
    margin: 50px 0 50px 0;
}
.modal-content {
    flex-direction: column;
}
.modal .right,
.modal .left {
    padding: 0;
}
.modal-text h1 {
    margin: 10px 0 10px 0;
    font-size: 20px;
}
.modal-text p {
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 15px;
}
.modal-text button {
    font-size: 13px;
}

.Prj .Prj-card {
    min-height: 150px;
    width: 400px;
    margin: 0.5rem;
  }
div.card-btn,  .dtl-btn{
    font-size: 13px;
}
}
